@tailwind base;
@tailwind utilities;
@tailwind screens;

html * {
  font-family: "openDyslexic", sans-serif;
}

body {
  background: white;
}

#root {
  background-image: url("assets/common/bg.png");
  background-size: cover;
}
